.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: var(--shadow-button-effect);
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* 버튼 색상 */
.buttonPrimary {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.buttonSecondary {
  background-color: var(--color-header-bg);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

/* 버튼 사이즈 */
.buttonMd {
  width: 131px;
  height: 41px;
  font-size: var(--font-button-medium-size);
  font-weight: var(--font-button-medium-weight);
}

.buttonLg {
  width: 228px;
  height: 54px;
  font-size: var(--font-button-large-size);
  font-weight: var(--font-button-large-weight);
}

/* 비활성화 상태 */
.buttonDisabled {
  opacity: 0.5;
  pointer-events: none;
}
