.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button {
  position: absolute;
  left: 50%;
  bottom: 76px;
  transform: translateX(-50%);
  z-index: 10;
}
