.container {
  height: 2.4px;
  display: flex;
  align-items: center;
}

.text {
  font-size: var(--font-home-banner-text-size);
  font-weight: var(--font-home-banner-text-weight);
  color: white;
  transition: opacity 0.5s ease-in-out;
}
