.container {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.bannerMap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 26px 16px 26px 25px;
  border: 1px solid var(--color-outline);
  border-radius: 10px;
  background-color: var(--color-accent);
  box-shadow: var(--shadow-button-effect);
  cursor: pointer;
}

.bannerMap > span {
  margin-right: 4px;
  font-size: var(--font-home-main-button-size);
  font-weight: var(--font-home-main-button-weight);
  line-height: var(--font-home-main-button-line-height);
  color: white;
}

.pingIcon {
  margin-right: auto;
}

.bannerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 0 16px;
  height: 103px;
  border: 1px solid #ffe69d;
  border-radius: 10px;
  box-shadow: var(--shadow-button-effect);
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header > span {
  font-size: var(--font-home-main-button-size);
  font-weight: var(--font-home-main-button-weight);
  line-height: var(--font-home-main-button-line-height);
  color: var(--color-secondary);
}

.description {
  font-size: var(--font-home-description-size);
  font-weight: var(--font-home-description-weight);
  color: var(--color-text);
}
