.container {
  padding: 16px;
}

.header {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
}

.reviewLink {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 16px 10.67px 12px;
  font-size: 15px;
  font-weight: 500;
}
