.thumbnail {
  width: 100%;
  height: 234px;
  object-fit: cover;
}

.defaultBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.12px;
  width: 100%;
  height: 234px;
  border: 3px solid var(--color-outline);
  border-radius: 10px;

  font-size: 14px;
  letter-spacing: -0.02625rem;
  color: var(--color-text);
}

.info {
  padding: 32.78px 32.68px;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 13px;
}

.name {
  margin-right: 15px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
}

.rating {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
  transform: translateY(1px);
}

.metaList {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.metaItem {
  /*
    TODO: 아이콘과 텍스트를 가로로 나란히 정렬하려면 어떤 속성이 필요할까요?
    - display, align-items, gap 등을 생각해 보세요.
    - 전체 metaList에서 간격이 유지되도록 합니다.
  */
  display: flex;
  align-items: center;
  gap: 12px;
}

.metaText {
  /*
    TODO: 텍스트의 크기, 굵기, 색상을 설정해 보세요.
    - 디자인 시스템에 따라 CSS 변수도 활용할 수 있어요.
    - 가독성을 높이기 위해 적절한 font-size, font-weight를 선택해 보세요.
  */
  padding-top: 2.5px;
  padding-bottom: 3.5px;
  font-size: var(--font-detail-info-size);
  font-weight: var(--font-detail-info-weight);
  height: 14px;
  color: var(--color-black);
}
