:root {
  /* 기본 폰트 */
  --font-family: 'paperlogy', sans-serif;

  /* 홈 화면 */
  --font-home-title: 800 30px normal;
  --font-home-subtitle: 400 24px normal;
  --font-home-description: 400 12px normal;
  --font-home-main-button: 600 20px 20px;
  --font-home-banner-text: 400 13px normal;
  --font-home-category-title: 500 10px normal;

  /* 검색창 */
  --font-search-bar: 600 12px normal;

  /* 상단 제목 */
  --font-top-title: 600 24px auto;
  --letter-top-title: 5%;

  /* 리뷰 */
  --font-review-nickname: 600 15px normal;
  --font-review-text: 400 14px normal;
  --font-review-date: 400 14px auto;
  --letter-review-date: -5%;

  /* 설명글 전체 */
  --font-description: 400 15px 20px;
  --letter-description: -3%;

  /* 게임 설명 */
  --font-game-description: 400 20px normal;

  /* 식당 상세정보 */
  --font-restaurant-detail-location: 600 16px 16px;

  /* 소제목 */
  --font-subtitle: 600 20px normal;

  /* 검색 오류 */
  --font-search-error: 900 14px normal;

  /* 리스트 */
  --font-list-restaurant-name: 800 16px normal;
  --font-list-restaurant-address: 300 12px normal;

  /* 리뷰 입력 문구 */
  --font-review-input: 500 12px normal;

  /* 버튼 */
  --font-button-small: 600 12px normal;
  --font-button-medium: 600 15px normal;
  --font-button-large: 700 20px normal;

  /* 선택버튼 카테고리 제목 */
  --font-selected-category-title: 500 13px normal;

  /* 식당 룰렛 */
  --font-restaurant-roulette: 500 24px normal;

  /* 정렬 목록 */
  --font-sort-list: 500 14px normal;

  /* 상세정보 */
  --font-detail-info: 500 12px normal;

  /* 거리 */
  --font-distance: 400 10px normal;

  /* 카테고리 룰렛 */
  --font-category-roulette: 700 14px normal;
}
