.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 37px;
  height: 100%;
}

.description {
  font-size: var(--font-game-description-size);
  font-weight: var(--font-game-description-weight);
  text-align: center;
}

.remainedLosers {
  font-size: var(--font-game-description-size);
  font-weight: 700;
  text-align: center;
  color: var(--color-primary);
}
