.container {
  /*
    리뷰 전체를 감싸는 영역입니다.
    어떤 속성들을 설정하면 좋을까요?
    - display: layout을 위한 기본 블록 or flex?
    - padding: 내부 여백을 얼마나 줄까요?
    - background-color: 배경색이 필요할까요?
    - margin-bottom: 다음 리뷰와의 간격이 필요할까요?
  */
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.content {
  font-weight: var(--font-review-text-weight);
  font-size: var(--font-review-text-size);
  line-height: 1.4;
}

/* 닉네임 스타일링 */
.nickname {
  /*
    font-size, font-weight
  */
}

/* 날짜 영역 스타일링 */
.date {
  /*
    - font-size, font-weight, letter-spacing, color
  */
}
