.container {
  display: flex;
  flex-direction: column;
  padding: 16px 16.26px;
  background-color: white;
  border-bottom: 1px solid var(--color-outline);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5.49px;
}

.nickname {
  font-size: var(--font-review-nickname-size);
  font-weight: var(--font-review-nickname-weight);
  color: var(--color-black);
}

.date {
  font-size: var(--font-review-date-size);
  font-weight: var(--font-review-date-weight);
  letter-spacing: var(--letter-review-date);
  color: var(--color-text);
}

.content {
  font-size: var(--font-review-text-weight);
  font-size: var(--font-review-text-size);
}
