.container {
  position: relative;
  height: 24px;
  margin-top: 76px;
  padding: 0 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buttonArrow {
  cursor: pointer;
}

.title {
  font-size: var(--font-top-title-size);
  font-weight: var(--font-top-title-weight);
  letter-spacing: var(--letter-top-title);
  color: var(--color-black);
}
