.container {
  position: relative;
  height: 100px;
  padding: 76px 16px 0;
}

.backgroundColor {
  background-color: var(--color-background);
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buttonArrow {
  cursor: pointer;
}

.title {
  font-size: var(--font-top-title-size);
  font-weight: var(--font-top-title-weight);
  letter-spacing: var(--letter-top-title);
  color: var(--color-black);
}
