.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-top: 12px;
  font-size: var(--font-top-title-size);
  font-weight: var(--font-top-title-weight);
  letter-spacing: var(--letter-top-title);
  color: var(--color-black);
}

.button {
  margin-top: 28.5px;
}
