.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 57px;
  overflow: hidden;
}

.dropdown {
  position: absolute;
  align-self: flex-end;
}

.list {
  margin-top: 12px;
  padding: 0 16.5px;
  height: 100%;
  overflow-y: scroll;
}
