.container {
  display: flex;
  flex-direction: column;
  gap: 93px;
  height: 100%;
}

.title {
  margin-top: 53px;
  margin-bottom: 12px;
  font-size: var(--font-top-title-size);
  font-weight: var(--font-top-title-weight);
  letter-spacing: var(--letter-top-title);
  color: var(--color-black);
  text-align: center;
}
